@import url("/components/templates/PageTemplate.css");

.hero img {
    max-width: 90vw;
    max-height: 50vh;
    filter: opacity(65%);
    transition: filter 0.5s;
    margin: 1rem 0;
}

.hero img:hover {
    filter: none;
    transition: filter 0.5s;
}