@import url("/components/templates/PageTemplate.css");

.hero img {
    max-width: 90vw;
    max-height: 50vh;
    filter: opacity(65%);
    transition: filter 0.5s;
    margin: 1rem 0;
}

.hero img:hover {
    filter: none;
    transition: filter 0.5s;
}

.title {
    color: var(--color-text-header);
    font-family: var(--font-family-header);
    font-size: var(--font-size-header);
    letter-spacing: var(--letter-spacing-header);
    line-height: 105%;
    margin: 0;
  }