/* Our default values set as CSS variables */
:root {
    --color-bg: #ffd7d7;
    --color-text-main: #201c27;
    --color-text-header: #01573d;
    --color-primary: #da9f87;
    --wrapper-height: 87vh;
    --image-margin: 3rem;
    --font-family: Caudex;
    --font-family-header: Allura;
    --font-size-header: 3rem;
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  
  body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
  }
  
  /* Page structure */
  .wrapper {
    height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
  }

  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }

  footer {
    display: grid;
    place-items: center;
  }
  
  /* Subheading */
  h2 {
    color: var(--color-text-header);
  }
